:root{
  --themeColor: #215988;
  
}

.timeline-containers::-webkit-scrollbar {
  /* height: 1px !important; */
   display: none !important;
  

}


::-webkit-scrollbar {
  width: 5px;
  height: 2px; /* Set the height for horizontal scrollbars */
}

/* Track */
::-webkit-scrollbar-track {
  background: #215988;
  border-radius: 10px;
}
p{
  margin-bottom: 0 !important;
}



::-webkit-scrollbar-track {
  background: gray !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #215988 !important;
}
